.mainBodys{
    background-color: rgb(215, 220, 220);
  
}
/* .trash{
   display: inline;
   justify-content: end;
     
} */
/* .other-comments{
    display: inline;
    justify-content: space-between;
} */
.items{
    display: flex;
    justify-content: space-between;
}