.mainBody{
    background-color: rgb(215, 220, 220);
  
}
.input-box{
    width: 100%;
    height: 100%;
    /* background: transparent; */
    /* outline: none; */
    border: 2px solid rgba(225,225,225,.2);
    border-radius: 10px;
    font-size: 16px;
    /* color: white; */
    padding: 20px 45px 20px 20px;
}
.searchBar{
    display: flex;

}
.postContainer{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .trash{
    display: flex;
    justify-content: end;
} */
.other-comments{
    background-color: rgb(215, 220, 220);

}
